@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    content: "";
    background-image: url("/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index:3;

  }

  .gradient {
    z-index: 1;
    width: 100%;
    background: linear-gradient(113deg, rgb(251, 250, 205) 24.4%, rgb(247, 163, 205) 53.7%, rgb(141, 66, 243) 99.2%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.8;
  }

  :root {
  --bg-mask: rgba(255, 255, 255, 0.25);
  --scroll-size: 12px;
  --scroll-radius: 20px;
  --scroll-track: rgba(0, 0, 0, 0);
  --scroll-thumb-color: #f97316;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    45deg,
    var(--bg-mask) 20%,
    transparent 20%,
    transparent 40%,
    var(--bg-mask) 40%,
    var(--bg-mask) 60%,
    transparent 60%,
    transparent 80%,
    var(--bg-mask) 80%
  );
  background-color: var(--scroll-thumb-color);
  border-radius: var(--scroll-radius);
}

/* Scrollbar Size */
::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}

  